  <form class="form-group row d-flex align-items-end">
    <div class="form-group col-md-3">
      <label for="name">Nombre del producto:</label>
      <input type="text" name="name" id="name" placeholder="Ingrese el nombre del producto" class="form-control"
        [(ngModel)]="nameProduct">
    </div>
    <div class="form-group col-md-3">
      <label for="stock">Stock:</label>
      <input type="text" name="stock" id="stock" placeholder="Ingrese la cantidad del producto" class="form-control"
        [(ngModel)]="stockProduct">
    </div>
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary" (click)="saveProduct()">Guardar Producto</button>
    </div>
  </form>
  <div class="container">
    <div class="row">
      <div class="col">
        <div *ngFor="let product of products; let i = index">
          <p *ngIf="product.stock > 5;">{{i+1}} {{ product.name}} {{product.stock}}</p>
          <p *ngIf="product.stock <= 5;">{{i+1}} {{ product.name}} <span class="text-danger font-weight-bold">{{product.stock}}</span></p>
        </div>
      </div>
    </div>
  </div>